/* Light/dark mode indicator on title bar */
.titleBar__01af6::after {
    position: absolute;
    top: -4px;
    right: 84px;
    height: 18px;
    padding: 4px;
    line-height: 23px;
    font-size: 14px;
    letter-spacing: 0;
    background: var(--background-tertiary);
    color: var(--text-muted);
    font-family: var(--font-primary);

    .theme-dark & {
        content: "Dark mode";
    }

    .theme-light & {
        content: "Light mode";
    }
}
