// Message input
.form_a7d72e {
    .inner_d0696b {
        align-items: center;
        .attachButton_f298d4 {
            height: 100%;
        }
        .textArea_d0696b {
            min-height: 53px;

            .slateTextArea_e52116 {
                padding-top: 16px;
            }
        }
    }
}
