// Wordmark by client mod
.wordmark_a934d8 {
    pointer-events: unset;
    padding: 0;

    > svg {
        display: none;
    }

    &::after {
        position: absolute;
        top: 4px;
        padding: 4px 9px 3px;
        font-size: 9px;
        letter-spacing: 0.4px;
        white-space: nowrap;
        font-family: var(--font-headline);

        content: var(--modtitle-text);
    }
}

:root {
    --modtitle-text: "Modified Discord";

    &:has(#vencord-css-core) {
        --modtitle-text: "Vencord";
    }
    &:has(#vcd-css-core) {
        --modtitle-text: "Vesktop";
    }
    &:has(link[href^="replugged"]) {
        --modtitle-text: "Replugged";
    }
    &:has(bd-body) {
        --modtitle-text: "BetterDiscord";
    }
    &:has(script[src^="chrome-extension://cpojbkbhfkkljmlojagocnbmiaagkhkn"])
    {
        --modtitle-text: "Shelter";
    }
}
