/* Positions both the *new messages* and *viewing old messages* bars on top of the channel text area. */
.barBase-3xxDXu {
    --bar-height: 24px;
    --bar-edges: 16px;
}
.messagesWrapper-RpOMA3:has(.newMessagesBar-1hF-9G):has(.jumpToPresentBar-1cEnH0) .barBase-3xxDXu {
    align-items: flex-start;
    height: var(--bar-height);
    overflow: hidden;
    width: calc(50% - var(--bar-edges));
}
.newMessagesBar-1hF-9G {
    border-radius: 8px 8px 0 0;
    inset: auto var(--bar-edges) 0;
    padding-bottom: 8px;
}
.messagesWrapper-RpOMA3:has(.jumpToPresentBar-1cEnH0) .newMessagesBar-1hF-9G {
    left: auto;
}
.newMessagesBar-1hF-9G:hover .span-3lFnWr,
.jumpToPresentBar-1cEnH0:hover .barButtonMain-2GIx4o {
    animation: vertiscroll 0.5s linear forwards;
    display: block;
    height: auto;
    overflow: visible;
    white-space: normal;
}
@keyframes vertiscroll {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(calc(-100% + var(--bar-height)));
    }
}
