/* Positions both the *new messages* and *viewing old messages* bars on top of the channel text area. */
.barBase__4e0ba {
    --bar-height: 24px;
    --bar-edges: 16px;
}
.messagesWrapper_ea2b0b:has(.newMessagesBar__8b6d7):has(.jumpToPresentBar__0ff7f) .barBase__4e0ba {
    align-items: flex-start;
    height: var(--bar-height);
    overflow: hidden;
    width: calc(50% - var(--bar-edges));
}
.newMessagesBar__8b6d7 {
    border-radius: 8px 8px 0 0;
    inset: auto var(--bar-edges) 0;
    padding-bottom: 8px;
}
.messagesWrapper_ea2b0b:has(.jumpToPresentBar__0ff7f) .newMessagesBar__8b6d7 {
    left: auto;
}
.newMessagesBar__8b6d7:hover .span_a7874a,
.jumpToPresentBar__0ff7f:hover .barButtonMain__0f5c6 {
    animation: vertiscroll 0.5s linear forwards;
    display: block;
    height: auto;
    overflow: visible;
    white-space: normal;
}
@keyframes vertiscroll {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(calc(-100% + var(--bar-height)));
    }
}
