/* Displays settings as a thread-like overlay on right side of main window */
.baseLayer__8fda3.stop-animations {
    opacity: 1 !important;
    transform: scale(1) !important;
}
.layer__2efaa:not(.baseLayer__8fda3) {
    background: transparent;
    pointer-events: none;
    align-items: flex-end;
}
.standardSidebarView__1129a {
    flex-direction: row-reverse;
    left: unset;
    pointer-events: auto;
    box-shadow: var(--elevation-high);
}
.sidebarRegionScroller__1fa7e,
.sidebarRegion__60457,
.contentRegion__0bec1 {
    flex: 0 0 auto;
}
