:has(.container-mAkQVR):is(.container-3g15px, .usernameSection-3FppkT)
    :is(.userTagNoNickname-h9Bh88, .nickname-3P1RuO, .nameTag-H6kSJ0):first-child {
    display: inline-flex;
    padding: 0 4px;
    margin-left: -4px;
    background: var(--profile-body-divider-color);
    border-radius: 4px;
}
.username-3JLfHz {
    overflow-y: hidden;
}
.container-mAkQVR {
    position: absolute;
    transform: translateY(-100%);
    box-sizing: border-box;
    max-height: 90px;
    max-width: 200px;
    padding: 7px 12px;
    background: var(--profile-body-background-color);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition:
        opacity 0.2s,
        box-shadow 0.2s;
}
.userProfileModalOuter-2wdWjU .container-mAkQVR {
    top: -40px;
    left: 144px;
}
.userPopoutOuter-1OHwPL .container-mAkQVR {
    top: -23px;
    right: 0;
}
.container-mAkQVR .nicknames-3g5AJ9 {
    -webkit-mask: linear-gradient(black 90%, transparent);
}
:is(.container-3g15px, .usernameSection-3FppkT):hover .container-mAkQVR {
    opacity: 1;
}
:is(.container-3g15px, .usernameSection-3FppkT):active .container-mAkQVR {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: var(--elevation-high);
    transform: unset;
    max-height: 999px;
    transition: max-height 1s;
}
.userProfileModalOuter-2wdWjU :is(.container-3g15px, .usernameSection-3FppkT):active .container-mAkQVR {
    top: -130px;
}
.userPopoutOuter-1OHwPL :is(.container-3g15px, .usernameSection-3FppkT):active .container-mAkQVR {
    top: -113px;
}
:is(.container-3g15px, .usernameSection-3FppkT):active .container-mAkQVR .nicknames-3g5AJ9 {
    -webkit-mask: none;
}
:is(.profileBadges-2pItdR, .badgeList-2aoHPw) {
    transition: opacity 0.2s;
}
:has(:is(.container-3g15px, .usernameSection-3FppkT):hover .container-mAkQVR) :is(.profileBadges-2pItdR, .badgeList-2aoHPw) {
    opacity: 0;
}
.overlayBackground-2aa7wt {
    overflow: visible;
}
