/// New profile experiment

// Role pill
.role_dfa8b6 {
    padding: 0;
    overflow: hidden;
    position: relative;

    // "Remove Role" div (no class)
    & > :first-child {
        margin: 0;
        align-self: flex-start;

        @at-root .roleRemoveButton_dfa8b6 {
            position: unset;
            width: 0%;
            height: 100%;

            // Role colour
            // not @at-root to prevent role settings issue
            .roleCircle__4f569 {
                border-radius: unset;
                margin: unset;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.7;
                mix-blend-mode: color;
            }

            // X icon
            @at-root .roleRemoveIcon_dfa8b6 {
                background: var(--profile-role-pill-background-color);
                padding: 2px;
                border-radius: 50%;
                margin: -6px 0 0 -6px;

                path {
                    fill: white;
                }
            }
        }
    }

    // Role icon
    @at-root .roleIcon__1e6f1 {
        position: relative;
        min-width: 16px;
        z-index: 1;
    }

    // Role name
    @at-root .roleName_dfa8b6 {
        padding: 4px;
    }

    // First item after "Remove Role" div
    @at-root :is(.role_dfa8b6 > :first-child, .roleRemoveButton_dfa8b6) + :is(span, div) {
        margin-left: 4px;
    }
}
