// Old (current) profile

// Role pill
.rolePill_fa2f72 {
    padding: 0;
    overflow: hidden;
    position: relative;

    // Remove role
    @at-root .roleRemoveButton_e4010c {
        position: unset;
        width: 0%;
        height: 100%;

        // Role colour
        // not @at-root to prevent role settings issue
        @at-root .roleCircle_a26d7b {
            border-radius: unset;
            margin: unset;
            position: absolute;
            width: 100%;
            height: 100%;
            mix-blend-mode: multiply;
        }

        // X icon
        @at-root .roleRemoveIcon_e4010c {
            background: var(--profile-role-pill-background-color);
            padding: 2px;
            border-radius: 50%;
            margin: -6px 0 0 -6px;

            path {
                fill: white;
            }
        }
    }

    // Role icon
    @at-root .roleIcon_e4010c {
        position: relative;
        min-width: 16px;
        z-index: 1;
    }

    // Role name
    @at-root .roleName_e4010c {
        padding: 4px;
    }

    // First item after Remove role
    @at-root .roleRemoveButton_e4010c + :is(.roleName_e4010c, .roleIcon_e4010c) {
        margin-left: 4px;
    }
}
