.rolePill_f50ff5 {
    padding: 0;
    overflow: hidden;
    position: relative;

    .roleRemoveButton__20c70 {
        position: unset;
        width: 0%;
        height: 100%;

        .roleCircle__61ad8 {
            border-radius: unset;
            margin: unset;
            position: absolute;
            width: 100%;
            height: 100%;
            mix-blend-mode: multiply;
        }

        .roleRemoveIcon_c3913a {
            background: var(--profile-role-pill-background-color);
            padding: 2px;
            border-radius: 50%;
            margin: -6px 0 0 -6px;

            path {
                fill: white;
            }
        }
    }

    .roleRemoveButton__20c70 + .roleName__851c9,
    .roleIcon_aa2eb3 {
        margin-left: 4px;
    }

    .roleName__851c9 {
        padding: 4px;
    }

    .roleIcon_aa2eb3 {
        position: relative;
        min-width: 16px;
        z-index: 1;
    }
}
