.replugged-addon-cards {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.replugged-addon-card > .horizontal-112GEH {
    margin-bottom: 0 !important;
}
.replugged-addon-card > .horizontal-112GEH h2 {
    font-size: 0;
    line-height: 0;
}
.replugged-addon-card > .horizontal-112GEH h2 .heading-md-bold-3v5pnz {
    line-height: 24px;
}
.replugged-addon-card > .horizontal-112GEH .flex-2S1XBF {
    margin-left: 0;
    justify-content: flex-start;
    gap: 5px !important;
}
.replugged-addon-card > .horizontal-112GEH .flex-2S1XBF .replugged-addon-icon:has([d^="M135.2 17.7"]) {
    order: -1;
}
.replugged-addon-card > .horizontal-112GEH .flex-2S1XBF .replugged-addon-icon:has([d^="M463.5 224"]) {
    order: 2;
    margin-left: auto;
}
.replugged-addon-card > .horizontal-112GEH .flex-2S1XBF .replugged-addon-icon:not(:has([d^="M463.5 224"])) svg {
    height: 1.5ch;
}
.replugged-addon-card > .horizontal-112GEH .flex-2S1XBF .container-1QtPKm {
    order: 3;
}
.replugged-addon-card > .horizontal-112GEH .flex-2S1XBF:not(:has([d^="M463.5 224"])) > .container-1QtPKm {
    margin-left: auto;
}
.replugged-addon-card > span {
    display: none;
}
