.replugged-addon-cards {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.replugged-addon-card {
    position: relative;
    display: flex;
    align-items: center;
}
.replugged-addon-card [style*="margin"] {
    margin: 0 !important;
}
.replugged-addon-card .flex-2S1XBF {
    align-items: center;
    gap: 5px !important;
}
.replugged-addon-card .heading-md-bold-3v5pnz {
    display: block;
}
.replugged-addon-card .replugged-addon-icon:has([d^="M135.2 17.7"]) {
    order: -1;
}
.replugged-addon-card .replugged-addon-icon:has([d^="M463.5 224"]) {
    order: 2;
}
.replugged-addon-card .replugged-addon-icon:not(:has([d^="M463.5 224"])) svg {
    height: 1.5ch;
}
.replugged-addon-card .container-1QtPKm {
    order: 3;
}
.replugged-addon-card:not(:has([d^="M463.5 224"])) > .container-1QtPKm {
    margin-left: auto;
}
.replugged-addon-card:hover > span {
    visibility: visible;
}
.replugged-addon-card > span {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
    bottom: 100%;
    background: var(--background-floating);
    box-shadow: var(--elevation-high);
    border-radius: 5px;
    padding: 12px;
    max-width: 298px;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-line-clamp: unset;
    word-break: break-word;
    pointer-events: none;
    overflow: visible;
}
.replugged-addon-card > span::before {
    content: "";
    display: block;
    position: absolute;
    right: 27px;
    border: 5px solid rgba(0, 0, 0, 0);
    top: 100%;
    border-top-color: var(--background-floating);
}
.replugged-addon-card:hover .error-3GXRR- {
    visibility: visible;
}
.replugged-addon-card .error-3GXRR- {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
    top: 100%;
    background: var(--background-floating);
    box-shadow: var(--elevation-high);
    border-radius: 5px;
    padding: 12px;
    max-width: 298px;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-line-clamp: unset;
    word-break: break-word;
    pointer-events: none;
    overflow: visible;
}
.replugged-addon-card .error-3GXRR-::before {
    content: "";
    display: block;
    position: absolute;
    right: 27px;
    border: 5px solid rgba(0, 0, 0, 0);
    bottom: 100%;
    border-bottom-color: var(--info-danger-foreground);
}
.vc-addon-card {
    position: relative;
    overflow: visible;
}
.vc-addon-card .vc-addon-header {
    margin-bottom: 0;
}
.vc-addon-card:hover .vc-addon-note {
    visibility: visible;
}
.vc-addon-card .vc-addon-note {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
    bottom: 100%;
    background: var(--background-floating);
    box-shadow: var(--elevation-high);
    border-radius: 5px;
    padding: 12px;
    max-width: 298px;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-line-clamp: unset;
    word-break: break-word;
    pointer-events: none;
    overflow: visible;
}
.vc-addon-card .vc-addon-note::before {
    content: "";
    display: block;
    position: absolute;
    right: 27px;
    border: 5px solid rgba(0, 0, 0, 0);
    top: 100%;
    border-top-color: var(--background-floating);
}
.vc-addon-card .vc-addon-note + div {
    position: absolute;
    right: 64px;
    top: calc(50% - 9px);
    font-size: 0;
    gap: 4px !important;
    flex-direction: row-reverse !important;
}
.vc-addon-card .vc-addon-note + div a {
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dbdee1' viewBox='2 2 20 20' width='18' height='18'%3E%3Cpath d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z'%3E%3C/path%3E%3C/svg%3E");
}
.vc-addon-card .vc-addon-note + div a[href*="discord.gg"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dbdee1' viewBox='0 0 16 16' width='18' height='18'%3E%3Cpath d='M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z'/%3E%3C/svg%3E");
}
