.base-2jDfDU::before {
    content: "The Custom/Quick CSS snippet 'MinimalAddonCards' has moved. See 'https://github.com/MiniDiscordThemes/MinimalAddonCards' for new install information.";
    top: 0;
    width: 100%;
    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
    z-index: 101;
    box-shadow: var(--elevation-low);
    color: white;
    background: linear-gradient(45deg, #6c6c7c, #571272);
}
