body {
    background: url("https://minidiscordthemes.github.io/Snippets/Billboard/img/bg.avif");
}

#app-mount {
    transform: rotate(10deg) skew(10deg) scale(0.6);
    box-shadow:
        0 0 0 3vh silver,
        0 0 20vh 5vh #fff5;
    overflow: visible;

    &::before,
    &:after {
        content: "";
        display: block;
        position: absolute;
    }

    &::before {
        --fence-width: 110vw;
        --fence-gap: 2vh;
        --fence-bar: 1vh;
        --fence-repeat: 3;
        width: var(--fence-width);
        height: calc((var(--fence-bar) + var(--fence-gap)) * var(--fence-repeat));
        background: repeating-linear-gradient(
            to top,
            transparent,
            transparent var(--fence-gap),
            silver var(--fence-gap),
            silver calc(var(--fence-gap) + var(--fence-bar))
        );
        bottom: 0;
        left: calc((var(--fence-width) - 100vw) / -2);
        z-index: 110;
    }

    &::after {
        --pole-width: 6vw;
        width: var(--pole-width);
        height: 40vh;
        background: linear-gradient(to bottom, silver, grey);
        top: 100vh;
        left: calc(50vw - var(--pole-width) / 2);
    }
}
