@use "./vars" as *;
@use "./default";

// Channels list
.sidebar_c48ade {
    width: $channellist-width;

    // Server name header
    .headerContent_f37cb1 {
        height: calc($channellist-header-height - 24px);
    }

    // Banner
    .animatedContainer_f37cb1 {
        height: $banner-height;
    }

    // Prevent banner overlapping outer
    .animatedContainer_f37cb1,
    .bannerImage_f37cb1 {
        transform: none !important;
        min-height: $channellist-header-height;
    }
    .bannerImage_f37cb1,
    .bannerImg_f37cb1 {
        width: inherit;
    }
    .bannerImg_f37cb1 {
        height: unset;
        min-height: $channellist-header-height;
    }

    // Resize banner-channels spacers in servers with banners
    &:has(.animatedContainer_f37cb1) {
        // Servers with boost goal
        &:has(.container_eff079) {
            :not(.sectionDivider__629e4) + div[style="height: 12px;"] {
                height: calc($banner-height - $channellist-header-height) !important;
            }
            div[style="height: 84px;"] {
                height: 0 !important;
            }
        }

        // Servers without boost goal
        & {
            :not(.sectionDivider__629e4) + div[style="height: 12px;"] {
                height: calc($banner-height - $channellist-header-height - 84px) !important;
            }
            div[style="height: 84px;"] {
                height: calc($banner-height - $channellist-header-height) !important;
            }
        }
    }

    // Flexier user panel
    .container__37e49 {
        box-sizing: border-box;
        min-height: 53px;
        height: auto;
        padding: 4px 8px 6px;
        row-gap: 5px;
        column-gap: 8px;
        flex-wrap: wrap-reverse;
        justify-content: center;

        .avatarWrapper__37e49 {
            flex: 2;
            max-width: fit-content;
            margin-right: 0;
        }

        .horizontal__7c0ba {
            flex: 1 !important;
            justify-content: space-around;
        }
    }

    // DM list fix
    .channel__972a0 {
        max-width: unset;
    }
}

// Headers
// Chat, DMs list, search results
.container__9293f,
.searchBar__35e86,
.searchHeader_f3b986 {
    height: var(--channellist-header-height);
}
