@use "./vars" as *;
@use "./default";

// Channels list
.sidebar_e031be {
    width: $channellist-width;

    // Server name header
    .headerContent__6fcc7 {
        height: calc($channellist-header-height - 24px);
    }

    // Banner
    .animatedContainer__0e828 {
        height: $banner-height;
    }

    // Prevent banner overlapping outer
    .animatedContainer__0e828,
    .bannerImage_c73a57 {
        transform: none !important;
        min-height: $channellist-header-height;
    }
    .bannerImage_c73a57,
    .bannerImg_fe5c1b {
        width: inherit;
    }
    .bannerImg_fe5c1b {
        height: unset;
        min-height: $channellist-header-height;
    }

    // Resize banner-channels spacers in servers with banners
    &:has(.animatedContainer__0e828) {
        // Servers with boost goal
        &:has(.container_bc43c1) {
            div[style="height: 12px;"] {
                height: calc($banner-height - $channellist-header-height) !important;
            }
            div[style="height: 84px;"] {
                height: 0 !important;
            }
        }

        // Servers without boost goal
        & {
            div[style="height: 12px;"] {
                height: calc($banner-height - $channellist-header-height - 84px) !important;
            }
            div[style="height: 84px;"] {
                height: calc($banner-height - $channellist-header-height) !important;
            }
        }
    }

    // Flexier user panel
    .container_debb33 {
        box-sizing: border-box;
        min-height: 53px;
        height: auto;
        padding: 4px 8px 6px;
        row-gap: 5px;
        column-gap: 8px;
        flex-wrap: wrap-reverse;
        justify-content: center;

        .avatarWrapper__500a6 {
            flex: 2;
            max-width: fit-content;
            margin-right: 0;
        }

        .horizontal__4848b {
            flex: 1 !important;
            justify-content: space-around;
        }
    }

    // DM list fix
    .channel__0aef5 {
        max-width: unset;
    }
}
