@use "./vars" as *;
@use "./default";

// Channels list
.sidebar_a4d4d9 {
    width: $channellist-width;

    // Server name header
    .headerContent_fd6364 {
        height: calc($channellist-header-height - 24px);
    }

    // Banner
    .animatedContainer_fd6364 {
        height: $banner-height;
    }

    // Prevent banner overlapping outer
    .animatedContainer_fd6364,
    .bannerImage_fd6364 {
        transform: none !important;
        min-height: $channellist-header-height;
    }
    .bannerImage_fd6364,
    .bannerImg_fd6364 {
        width: inherit;
    }
    .bannerImg_fd6364 {
        height: unset;
        min-height: $channellist-header-height;
    }

    // Resize banner-channels spacers in servers with banners
    &:has(.animatedContainer_fd6364) {
        // Servers with boost goal
        &:has(.container_c75f85) {
            :not(.sectionDivider_c43953) + div[style="height: 12px;"] {
                height: calc($banner-height - $channellist-header-height) !important;
            }
            div[style="height: 84px;"] {
                height: 0 !important;
            }
        }

        // Servers without boost goal
        & {
            :not(.sectionDivider_c43953) + div[style="height: 12px;"] {
                height: calc($banner-height - $channellist-header-height - 84px) !important;
            }
            div[style="height: 84px;"] {
                height: calc($banner-height - $channellist-header-height) !important;
            }
        }
    }

    // Flexier user panel
    .container_b2ca13 {
        box-sizing: border-box;
        min-height: 53px;
        height: auto;
        padding: 4px 8px 6px;
        row-gap: 5px;
        column-gap: 8px;
        flex-wrap: wrap-reverse;
        justify-content: center;

        .avatarWrapper_b2ca13 {
            flex: 2;
            max-width: fit-content;
            margin-right: 0;
        }

        .horizontal_bba380 {
            flex: 1 !important;
            justify-content: space-around;
        }
    }

    // DM list fix
    .channel_c91bad {
        max-width: unset;
    }
}

// Headers
// Chat, DMs list, search results
.container_e44302,
.searchBar_f0963d,
.searchHeader_b7c924 {
    height: var(--channellist-header-height);
}
