.messageContent_f9f2ca a[href][title*="("] {
    position: relative;
    overflow: visible;
    border-radius: 4px;
    padding: 0 4px;
    font-weight: 500;
    background: hsla(200, calc(var(--saturation-factor, 1) * 100%), 49.4%, 0.3);
    color: var(--text-normal);

    &:hover {
        background: hsla(200, calc(var(--saturation-factor, 1) * 100%), 49.4%, 0.6);
    }

    &::after {
        content: " (" attr(href) ")";
        font-size: 0.75rem;
        line-height: 0.75rem;
        opacity: 0.8;
    }
}
