@use "./top/vars" as *;
@use "./top/tooltip";

.replugged-addon-cards {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.replugged-addon-card {
    position: relative;
    display: flex;
    align-items: center;

    [style*="margin"] {
        margin: 0 !important;
    }

    .flex-2S1XBF {
        align-items: center;
        gap: 5px !important;
    }

    // Addon name
    .heading-md-bold-3v5pnz {
        display: block;
    }

    // Addon action icons
    .replugged-addon-icon {
        // Delete addon
        &:has([d^="M135.2 17.7"]) {
            order: -1;
        }

        // Reload active addon
        &:has([d^="M463.5 224"]) {
            order: 2;
        }

        // Icons except reload
        &:not(:has([d^="M463.5 224"])) svg {
            height: 1.5ch;
        }
    }

    // Addon toggle
    .container-1QtPKm {
        order: 3;
    }
    &:not(:has([d^="M463.5 224"])) > .container-1QtPKm {
        margin-left: auto;
    }

    // Addon description
    &:hover > span {
        visibility: visible;
    }
    & > span {
        @include tooltip.full;
    }

    // Addon warning for unofficial addons
    &:hover .error-3GXRR- {
        visibility: visible;
    }
    .error-3GXRR- {
        @include tooltip.full("bottom");
    }
}
