// Wordmark by client mod
:is(.wordmark-2u86JB, .wordmark-3wYFg6) {
    pointer-events: unset;
    padding: 0;

    > svg {
        display: none;
    }

    &::after {
        position: absolute;
        top: 4px;
        padding: 4px 9px 3px;
        font-size: 9px;
        letter-spacing: 0.4px;
        white-space: nowrap;
        font-family: var(--font-headline);

        content: "Modified Discord";

        :root:has(#vencord-css-core) & {
            content: "Vencord";
        }
        :root:has(link[href^="replugged"]) & {
            content: "Replugged";
        }
        :root:has(bd-body) & {
            content: "BetterDiscord";
        }
        :root:has(script[src^="chrome-extension://cpojbkbhfkkljmlojagocnbmiaagkhkn"])
        {
            content: "Shelter";
        }
    }
}
