.baseLayer__2b890.stop-animations {
    opacity: 1 !important;
    transform: scale(1) !important;
}

.layer_f7d46a:not(.baseLayer__2b890) {
    background: transparent;
    pointer-events: none;
    align-items: flex-end;
}

.standardSidebarView__12528 {
    flex-direction: row-reverse;
    left: unset;
    pointer-events: auto;
    box-shadow: var(--elevation-high);
}

.sidebarRegionScroller__8113e,
.sidebarRegion__36437,
.contentRegion__08eba {
    flex: 0 0 auto;
}
