// Search
.search__49676 {
    order: var(--search-order, 1);

    .searchBar__97492 {
        background: transparent;

        // When not in action
        &:not(:focus-within, :hover, :has(.clear_fea832)) {
            width: 24px;

            // Search icon
            .iconContainer_fea832 {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }
}
