// Search
.search_ff5f90 {
    order: var(--search-order, 1);

    .searchBar_a46bef {
        background: transparent;

        // When not in action
        &:not(:focus-within, :hover, :has(.clear_effbe2)) {
            width: 24px;

            // Search icon
            .iconContainer_effbe2 {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }
}
