.barBase_cf58b5 {
    --bar-height: 32px;
    --bar-edges: 16px;

    .messagesWrapper_e2e187:has(.newMessagesBar_cf58b5):has(.jumpToPresentBar_cf58b5) & {
        justify-content: center;
        height: var(--bar-height);
        overflow: hidden;
        width: calc(50% - var(--bar-edges));

        .barButtonBase_cf58b5 {
            text-align: center;
        }

        &:hover .barButtonMain_cf58b5 {
            display: none;
        }

        &:not(:hover) .barButtonAlt_cf58b5 {
            display: none;
        }
    }
}

.newMessagesBar_cf58b5 {
    border-radius: 8px 8px 0 0;
    inset: auto var(--bar-edges) 0;
    padding-bottom: 8px;

    .messagesWrapper_e2e187:has(.jumpToPresentBar_cf58b5) & {
        left: auto;
    }
}
