@import url("https://minidiscordthemes.github.io/Snippets/ChannelListWidth/main.css");

// Channel sidebar
.sidebar_a4d4d9 {
    $side-margin: 12px;

    // Server name
    .name_fd6364 {
        font-family: var(--font-display);
    }

    // Channels
    .scrollerBase_eed6a8 {
        padding-left: $side-margin;
        padding-right: $side-margin !important;

        // Unread pips
        .unread_d8bfb3 {
            border-radius: var(--radius-xs);
            width: 8px;
        }

        // Channel icons
        @at-root .iconContainer_d8bfb3 {
            order: 1;
            margin-right: 0;

            @at-root .containerDefault_f6f816.selected_f6f816 &,
                .containerDefault_f6f816:hover & {
                display: none;
            }
        }
    }

    // User panel
    .panels_a4d4d9 {
        border-radius: 8px;
        overflow: hidden;
        margin: 0 $side-margin 24px;

        .container_b2ca13 {
            background-clip: padding-box;

            // Name
            .title_d1da5f {
                font-family: var(--font-display);
            }
        }
    }
}
