@import url("https://minidiscordthemes.github.io/Snippets/MinimalSearchbar/main.css");

// Header
.subtitleContainer_f50402 {
    // Space for memberslist
    .chat__52833:has(.container_f79ab4) & {
        margin-right: 240px;
    }
    // Space for search results
    .chat__52833:has(.searchResultsWrap__2e184) & {
        margin-right: 418px;
    }

    @at-root .container__26baa {
        height: var(--channellist-header-height);

        // Tools
        @at-root .toolbar__62fb5 {
            // Fake meatball icon
            &::before {
                content: "";
                width: 24px;
                height: 24px;
                mask: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22black%22%20fill-rule%3D%22evenodd%22%20d%3D%22M4%2014a2%202%200%201%200%200-4%202%202%200%200%200%200%204m10-2a2%202%200%201%201-4%200%202%202%200%200%201%204%200m8%200a2%202%200%201%201-4%200%202%202%200%200%201%204%200%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
                background: var(--interactive-normal);
                margin: 0 8px;
                cursor: pointer;
                flex: 0 0 auto;
                display: none;
            }

            &:not(:hover, :focus-within) {
                // Fake meatball icon
                &::before {
                    display: block;
                }
                // Actual icons
                .iconWrapper_de6cd1 {
                    display: none;
                }
            }

            // Help
            .anchor_c8ddc0 {
                display: none;
            }
        }
    }
}

// Move shadow to chat only
.content__01e65 {
    &::before {
        display: none;
    }
    .chatContent_f087cb::before {
        content: "";
        position: absolute;
        display: block;
        top: -1px;
        left: 0;
        right: 0;
        height: 1px;
        box-shadow: var(--elevation-low);
        z-index: 1;
        pointer-events: none;
    }
}
