// Message input
.form_d8a4a1 {
    .inner__9fd0b {
        align-items: center;
        .attachButton__56f98 {
            height: 100%;
        }
        .textArea_a86690 {
            min-height: 53px;

            .slateTextArea_b19976 {
                padding-top: 16px;
            }
        }
    }
}
