@use "./mixins";

.mediaMosaicAltText__0f481 {
    position: unset;
    width: 100%;
    line-height: 10px;
    border-radius: 0.5rem;
    margin-top: 2px;
    @include mixins.reaction;
}

.mediaMosaicAltTextPopout__0f481 {
    position: relative;
    top: -10px;
    user-select: text;

    &::before {
        content: "";
        position: absolute;
        border: 5px solid transparent;
        border-right-color: var(--background-floating);
        left: -10px;
        top: 18px;
    }
}

.mediaMosaicAltTextPopoutTitle__0f481 {
    display: none;
}

.imageContainer__0f481 {
    height: 1%;
}
