@use "./mixins";

.mediaMosaicAltText_cf58b5 {
    position: unset;
    width: 100%;
    line-height: 10px;
    border-radius: 0.5rem;
    margin-top: 2px;
    @include mixins.reaction;
}

.mediaMosaicAltTextPopout_cf58b5 {
    position: relative;
    top: -10px;
    user-select: text;

    &::before {
        content: "";
        position: absolute;
        border: 5px solid transparent;
        border-right-color: var(--background-floating);
        left: -10px;
        top: 18px;
    }
}

.mediaMosaicAltTextPopoutTitle_cf58b5 {
    display: none;
}

.imageContainer_cf58b5 {
    height: 1%;
}
